.show-card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-top: 75px;
}

.text-container {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  justify-content: center;
}

.text-container p {
  font-size: 20px;
  opacity: .8;
  margin-bottom: 0;
}

.text-container a {
  display: inline-block;
  margin-top: 30px;
}

.text-container h5 {
  padding-top: 15px;
}
