<div class="main-container">
  <div class="text-field">
    <p>Affordable, high-quality tool rentals for DIYers and pros. Find the right equipment for any project at Tooly Tooly Rental convenient and hassle-free!</p>

    <%= link_to "Rent Now!", categories_path, class: "btn-cta" %>


  </div>
</div>
