<header class="header">

    <%= link_to root_path do %>
        <%= image_tag "/", class: "logo" %>
    <% end %>
    <ul>
        <li><%= link_to "About_Us" %></li>
        <li><%= link_to "Rent" %></li>
    </ul>


</header>


