.container-grid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}

.cards{
    height: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0.75rem 1.5rem rgba(0, 0, 0, 0.08);
}

.container-principal .ul{
    padding: 25px;
}

.cards img{
    width: 100%;
    height: 150px;
}

.card-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    padding: 7px;
}

.text-desc{
    font-style: italic;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 280px;
}

.category-list{
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 250px;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.category-list:hover{
    opacity: .8;
    cursor: pointer;
}

.category-list a{
    font-size: 30px;
    color: white;
    font-weight: bold;
    letter-spacing: 7px;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}

.category-container{
    min-height: calc(100vh - 167px);
    width: 100%;
    margin: 0;
    padding: 0;
    border: 1px solid black;
}


