.main-container {
  min-height: calc(104vh - 170px);
  width: 100%;
  margin: 0;
  padding: 0;
  border: 1px solid black;
  background-image: image_url("main-bg");
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  overflow: hidden;
  display: flex;
  justify-content: end;
  align-items: center;
}

.main-container .text-field {
width: 30%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 10px;
margin-right: 120px;
}

.btn-cta {
margin-top: 17px;
padding: 13px;
background-color: #ffbb00;
border-radius: 10px;
font-weight: bolder;
color: rgb(0, 0, 0);
width: 45%;
text-align: center;
}

@media (max-width: 700px) {

  .main-container{
    min-height: calc(100vh - 130px);
    background-image: url("back-mobile.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: space-around;
    align-items: start;
  }

  .main-container .text-field {
    width: 90%;
    padding: 5px;
    margin-right: 0px;
    margin-top: 224px;
  }

  .text-field p{
    color: #535353;
  }

  .btn-cta{
    width: 90%;
  }
}
