.main-container {
    min-height: calc(104vh - 173px);
    width: 100%;
    margin: 0;
    padding: 0;
    border: 1px solid black;
    background-image: image_url("main-bg");
    background-size: 100%;
    background-position: center bottom;
    display: flex;
    justify-content: end;
    align-items: center;
    position: relative;
}

.main-container .text-field {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-right: 120px;
}

.btn-cta {
  margin-top: 17px;
  padding: 13px;
  background-color: #ffbb00;
  border-radius: 10px;
  font-weight: bolder;
  color: rgb(0, 0, 0);
  width: 45%;
  text-align: center;
}

