a {
  text-decoration: none;
}

.header {
  width: 100%;
  height: 90px;
  line-height: 100px;
  margin: 0px;
  display: grid;
  grid-template-columns: 20% 70% 10%;
  border: 1px solid #ccc;
  background-color: #9e9c9c;
}

.logo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo a{
  color: gray;
  font-size: 30px;
}

.logo:hover{
  color: rgb(73, 67, 67);
  font-size: larger;
  font-weight: bolder;
}

li {
  list-style: none;
}

@media (max-width: 390px) {

  .header {
    display: flex;
  }

  .logo {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo a{
    font-size: 15px;
  }

}
