.navbar-tooly {
  justify-content: space-between;
  background: white;
}

.navbar-tooly .navbar-collapse {
  flex-grow: 0;
}

.navbar-tooly .navbar-brand img {
  width: 350px;
  margin-left: 5px;
}

.fa-user {
  margin-top: 5px;
  font-size: 27px;
}

.nav-item-about {
  padding-right: 30px;
}


@media (max-width: 700px) {
  .navbar-tooly{
    height: 60px;
  }

  .navbar-tooly .navbar-brand img{
    width: 200px;
  }

  .navbar-nav{
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
  .nav-link{
    font-weight: bold;
  }

  .dropdown{
    display: flex;
    flex-direction: row-reverse;
  }

  .nav-item-about {
    padding-right: 0px;
  }

}
