.navbar-tooly {
  justify-content: space-between;
  background: white;
}

.navbar-tooly .navbar-collapse {
  flex-grow: 0;
}

.navbar-tooly .navbar-brand img {
  width: 70px;
  margin-left: 5px;
}

.fa-user {
  font-size: 27px;
}

.nav-item-about {
  padding-right: 30px;
}

.nav-item {
  margin-right: 5px;
}
