<h1 class="text-center my-4">Categories:</h1> 

<% @categories.each do |category| %>

    <div class=" d-flex justify-content-center border p-5 w-50 mx-auto cat-bg-img">
    <%= link_to category.name, category_path(category) %>
    </div>

<% end %>
