<% @categories.each do |category| %>
  <div class="d-flex justify-content-center border p-5 w-50 mx-auto my-5 category-list">
    <div class="cat-bg-img" style="background-image: url(<%= cl_image_path category.photo.key, crop: :fill %>)"></div>
    <div class="overlay"></div> <!-- Color overlay div -->
    <div class="text-cat">
      <%= link_to category.name, category_path(category) %>
    </div>
  </div>
<% end %>
